// Color
$primery-text-color: #fcfcfc;
$text-color-black: #131313;
$text-color-grey: #ababab;
$background-ice-cream: #aec6a5;
$background-ice-coffee: #efd478;
$background-ice-milkshakes: #d6936d;
$accent-color: #f8d24e;
$background-color: #ffffff;
$secondary-background-color: #84a278;

// Font-family
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;

// Animation
